<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define Screenshot Tool_TargetDir=$(var.Screenshot Tool.TargetDir)?>
	<Product Id="*" Name="SetupProject1" Language="1033" Version="1.0.0.0" Manufacturer="https://github.com/Lance798/Screenshot-Tool" UpgradeCode="3170ccb3-7ebe-4915-900f-7e5df6d644cf">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="SetupProject1" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="ProgramFilesFolder_files" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SetupProject1" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="IronSoftware.Standard.Aforge.dll" Guid="286321a5-9251-4b73-8517-488b86dc5344">
			  <File Id="IronSoftware.Standard.Aforge.dll" Name="IronSoftware.Standard.Aforge.dll" Source="$(var.Screenshot Tool_TargetDir)IronSoftware.Standard.Aforge.dll" />
			</Component>
			<Component Id="NativeLibraryLoader.dll" Guid="c14128d1-fadd-43a9-8064-f6a7b9edf978">
			  <File Id="NativeLibraryLoader.dll" Name="NativeLibraryLoader.dll" Source="$(var.Screenshot Tool_TargetDir)NativeLibraryLoader.dll" />
			</Component>
			<Component Id="IronPdf.Pdfium.dll" Guid="fce02058-4f18-43d2-ad4e-a2d2e31dbcdd">
			  <File Id="IronPdf.Pdfium.dll" Name="IronPdf.Pdfium.dll" Source="$(var.Screenshot Tool_TargetDir)IronPdf.Pdfium.dll" />
			</Component>
			<Component Id="IronSoftware.IronConfigurationManager.dll" Guid="72ff2367-3d96-4c1d-be4d-b5ae1e180ecf">
			  <File Id="IronSoftware.IronConfigurationManager.dll" Name="IronSoftware.IronConfigurationManager.dll" Source="$(var.Screenshot Tool_TargetDir)IronSoftware.IronConfigurationManager.dll" />
			</Component>
			<Component Id="Babel.Licensing.dll" Guid="502545df-e463-4f15-b0f4-553a1625c243">
			  <File Id="Babel.Licensing.dll" Name="Babel.Licensing.dll" Source="$(var.Screenshot Tool_TargetDir)Babel.Licensing.dll" />
			</Component>
			<Component Id="IronSoftware.Licenses.dll" Guid="e64fd3f4-f105-4d7b-af17-55da99f97a33">
			  <File Id="IronSoftware.Licenses.dll" Name="IronSoftware.Licenses.dll" Source="$(var.Screenshot Tool_TargetDir)IronSoftware.Licenses.dll" />
			</Component>
			<Component Id="zxing.dll" Guid="6bfe496a-868d-45b1-ac64-76e7c1b095a2">
			  <File Id="zxing.dll" Name="zxing.dll" Source="$(var.Screenshot Tool_TargetDir)zxing.dll" />
			</Component>
			<Component Id="BitMiracle.LibTiff.NET.dll" Guid="7c8a72c5-47b8-4d65-8eaa-b38a10065d43">
			  <File Id="BitMiracle.LibTiff.NET.dll" Name="BitMiracle.LibTiff.NET.dll" Source="$(var.Screenshot Tool_TargetDir)BitMiracle.LibTiff.NET.dll" />
			</Component>
			<Component Id="IronSoftware.Logger.dll" Guid="40fb5282-6aa7-4ac5-a491-2bd13dc1cf44">
			  <File Id="IronSoftware.Logger.dll" Name="IronSoftware.Logger.dll" Source="$(var.Screenshot Tool_TargetDir)IronSoftware.Logger.dll" />
			</Component>
			<Component Id="BouncyCastle.Crypto.dll" Guid="3bdba0fe-9e46-41d6-bc03-57bff447af6b">
			  <File Id="BouncyCastle.Crypto.dll" Name="BouncyCastle.Crypto.dll" Source="$(var.Screenshot Tool_TargetDir)BouncyCastle.Crypto.dll" />
			</Component>
			<Component Id="PdfSharp.dll" Guid="b6b06904-4615-46ce-a647-115ac61bec69">
			  <File Id="PdfSharp.dll" Name="PdfSharp.dll" Source="$(var.Screenshot Tool_TargetDir)PdfSharp.dll" />
			</Component>
			<Component Id="Newtonsoft.Json.dll" Guid="b77ce617-9a4a-4719-ba5d-3805e433ba5c">
			  <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.Screenshot Tool_TargetDir)Newtonsoft.Json.dll" />
			</Component>
			<Component Id="IronBarCode.dll" Guid="d9acfd81-e30e-4b98-8918-cd0839fbe068">
			  <File Id="IronBarCode.dll" Name="IronBarCode.dll" Source="$(var.Screenshot Tool_TargetDir)IronBarCode.dll" />
			</Component>
			<Component Id="Screenshot_Tool.exe.config" Guid="6d1905af-871a-49c9-b7cd-860f7a80797b">
			  <File Id="Screenshot_Tool.exe.config" Name="Screenshot Tool.exe.config" Source="$(var.Screenshot Tool_TargetDir)Screenshot Tool.exe.config" />
			</Component>
			<Component Id="Screenshot_Tool.exe" Guid="ee821016-b875-4f5b-82f1-aba716d80183">
			  <File Id="Screenshot_Tool.exe" Name="Screenshot Tool.exe" Source="$(var.Screenshot Tool_TargetDir)Screenshot Tool.exe" />
			</Component>
			<Component Id="IronSoftware.Common.dll" Guid="b89cb61d-a8b1-4ecc-9013-542ee5558ef9">
			  <File Id="IronSoftware.Common.dll" Name="IronSoftware.Common.dll" Source="$(var.Screenshot Tool_TargetDir)IronSoftware.Common.dll" />
			</Component>
			<Component Id="DotNetZip.dll" Guid="7d820745-775e-441d-9bba-6ace2c770c64">
			  <File Id="DotNetZip.dll" Name="DotNetZip.dll" Source="$(var.Screenshot Tool_TargetDir)DotNetZip.dll" />
			</Component>
			<Component Id="IronSoftware.Deployment.dll" Guid="acd05d51-75b7-4db8-9fdb-acbd1c0b307b">
			  <File Id="IronSoftware.Deployment.dll" Name="IronSoftware.Deployment.dll" Source="$(var.Screenshot Tool_TargetDir)IronSoftware.Deployment.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="ProgramFilesFolder_files" Directory="ProgramFilesFolder">
	    <Component Id="Resources_screenshot.ico" Guid="dc7491df-479e-4a06-bb4d-eee4fb580c44">
	      <File Id="Resources_screenshot.ico" Name="screenshot.ico" Source="$(var.Screenshot Tool_TargetDir)Resources\screenshot.ico" />
	    </Component>
	  </ComponentGroup>
	</Fragment>
</Wix>
